*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}


.rows-container{ /*contenitore delle due righe*/
  width: 1000px;
  height: 750px;
  margin: 0 auto;
  position: relative;
}

.row{ /*riga delle foto*/
  width: 100%;
  height: 300px;
  margin-bottom: 15px;
}

.foto-container{ /*contenitore della singola foto*/
  width: 33%;
  height: 300px;
  background-color: #eee;
  display: inline-block;
  text-align: center;
  position: relative;
  position: relative;
}

.badge{ /*sconto*/
  position: absolute;
  background-color: green;
  top: 0;
  right: 0;
}

.foto{ /*foto*/
  width: 250px;
  height: 300px;

}

.cuore-container{ /*cuoricino preferiti*/
  position: absolute;
  width: 100%;
  top: 270px;
  color: red;
  display: none;
}



.foto-container:hover .cuore-container{ 
  display: block;

}

.row .foto-container:nth-child(2) .badge{
  background-color: red;
}
