*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

/*HEADER*/
header{
  width: 100%;
  height: 150px;
  background-color: #000;
  text-align: center;
  position: fixed;


}

header > h1{
  font-size: 40px;
  vertical-align: middle;
  line-height: 150px;
}
/*END HEADER*/

main{
  background-color: #000;
  padding: 170px 20px 20px;

}

.row-container{ /*CONTENITORE RIGHE*/
  margin: 10px auto;
  width: 1000px;
  height: 650px;


}

.row{ /*RIGHE*/
  width: 100%;
  height: 300px;
  margin-bottom: 15px;

}

.foto-container{ /*CONTENITORE FOTO*/
  width: 33%;
  height: 300px;
  background-color: #eee;
  background : url(../img/pd1.jpg) center no-repeat;
  background-size: cover;
  display: inline-block;
}

.row .foto-container:nth-child(2){
  background : url(../img/pd2.jpg) center no-repeat;
}

.row .foto-container:nth-child(3){
  background : url(../img/pd3.jpg) center no-repeat;
}


/*UTILITIES*/

.border-bottom{
  border-bottom: 5px solid #57a8d9;
}

.color-light-blue{
  color: #57a8d9;
}
/*END UTILITIES*/
footer{
  height: 300px;
  background-color: #000;
  padding: 10px;
  text-align:center;
}
